@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  height: 100%;
  user-select: none;
}

.btn {
  border-radius: 10px;
}

.navbar {
  justify-self: self-start;
}

.nav-item {
  padding-right: 40px;
  font-weight: 600;
}

.nav-link {
  color: white;
}

.container-fluid.p-0 {
  background-color: #eef6f9;
}

.register {
  border-radius: 15px;
  background-color: white;
}

.register:hover {
  background: rgb(194, 194, 194);
}

.display-4 {
  font-weight: 900;
}

.jumbotron {
  padding-bottom: 0;
  margin-bottom: 0;
}

.images {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.top-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/mask.png);
  height: 800px;
  width: 100%;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner {
  display: flex;
  align-items: center;
}

.jumbotron .lead {
  max-width: 60%;
  margin: 0 auto;
  text-shadow: 1px 3px 6px black;
  font-size: 1.5rem;
}

.start-now {
  color: #13f7ff;
  word-wrap: normal;
  font-weight: bold;
  text-align: start;
  cursor: pointer;
}

.start-now:hover {
  color: #10d0d6;
}

.cardline {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #eef6f9;
  -webkit-box-shadow: 0px 6px 20px 25px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 6px 20px 25px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 6px 20px 10px rgba(200, 200, 250, 0.5);
  border-radius: 15px;
}

.bold-title {
  font-weight: 400;
  text-align: center;
}

.label-title {
  font-size: 18px;
  margin-top: 5px;
}

.posted {
  font-size: 13px;
  color: #b90000;
  margin-bottom: 5px;
}

.no-activity,
.rejected {
  font-size: 13px;
  color: #b90000;
  margin-bottom: 5px;
}

.you-accepted {
  font-size: 13px;
  color: #0b8e13;
  margin-bottom: 5px;
}

.pending {
  font-size: 13px;
  color: #0086b9;
  font-style: italic;
  margin-bottom: 5px;
}

.accepted {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 5px;
  color: #0b8e13;
}

.time {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  margin-bottom: 0px;
}

.activity-story {
  max-width: 80%;
  margin: 1rem auto;
  text-align: center;
  color: #7a7c7e;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}

.card-items {
  margin: -01em 1em;
  padding: 2em;
}

.shadow:hover {
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3) !important;
  color: black;
  transition: all 0.2s ease-in-out;
}

.card-item {
  display: inline-block;
  background: transparent;
  padding: 0.7em 1.5em;
  margin: 0.7em 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(81, 81, 81, 0.26), -3px -3px 6px rgba(209, 233, 242, 0.44) !important;
  cursor: pointer;
}

.card-item:hover {
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3) !important;
  color: white;
  transition: all 0.2s ease-in-out;
  background-color: #0086b9;
}

.top-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  overflow-y: hidden;
}
.material-icons {
  vertical-align: middle;
  margin-top: -2px;
  color: #999999;
}

.card-item:hover .material-icons {
  color: white;
}

.card {
  height: 200px;
}

.card:hover {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #0086b9;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #0086b9;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #0086b9;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
  width: 25%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 400%;
  margin-left: 200%;
}

.tabs .tab-2.a [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2.ab [type="radio"]:checked + div {
  margin-left: -100%;
}

.tabs .tab-2.ac [type="radio"]:checked + div {
  margin-left: -200%;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -300%;
}

.submit-input {
  position: absolute;
  top: 80%;
}
@media (max-width: 576px) {
  .banner {
    display: none;
  }
  .cardline {
    top: 40%;
  }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    padding-bottom: 0;
  }
}

.register-title {
  margin-top: auto;
}

/* ERRANDS PAGE */

header {
  background: #eef6f9;
  box-shadow: 0 0.5rem 0.5rem rgba(203, 240, 253, 0.8);
}

.nav-link.active {
  color: #0086b9 !important;
  position: relative;
}

.nav-link.active {
  position: relative;
  line-height: 2rem;
  margin-top: -4px;
}
.nav-link.active:before {
  position: absolute;
  left: 25px;
  bottom: 0.5rem;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #0086b9;
}

.notification-box {
  position: relative;
  margin-right: 2rem;
}

.notification-box:hover {
  cursor: pointer;
}

.notification {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  top: -3px;
  right: -3px;
  font-size: 8px;
  color: white;
  vertical-align: middle;
  text-align: center;
  line-height: 12px;
  border: 2px solid white;
}

.user-box:hover {
  cursor: pointer;
  color: #aaaaaa;
}
.profile-picture {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.user-name {
  font-weight: 600;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.errand-details {
  font-weight: 100;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.poster-picture {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.poster-info {
  display: flex;
}

.poster-name {
  font-weight: bolder;
  margin-bottom: 0;
}

.location {
  display: inline-block;
  font-weight: bolder;
  color: #999999;
}

.category .material-icons {
  color: #aaaaaa;
}

.time-stamp {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
}

.container-fluid.errand {
  background-color: #eef6f9;
}

.errands-main {
  padding: 1rem;
}

.sidebar {
  display: block;
  float: left;
  top: 90px;
  bottom: 0;
  width: 300px;
}

.side-box {
  background-color: white;
  width: 290px;
  margin-bottom: 1rem;
}

.main-body {
  margin-left: 300px;
  margin-top: 5px;
  padding-left: 0.4rem;
}

.divide {
  display: flex;
}

.split {
  justify-content: space-between;
}

.down {
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

.container.errand {
  margin: 0;
  padding: 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bolder;
  color: #0086b9;
  vertical-align: middle;
}

.bluetext {
  color: #0086b9;
}

.category {
  font-size: 12px;
}

.card-columns {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3 !important;
  }
}

@media (max-width: 685px) {
  .sidebar {
    display: none;
  }
  .main-body {
    margin-left: 1rem;
  }
}
/* POST ERRAND */
.mini-map {
}
.map-progress {
  display: flex;
}

.map {
  font-size: 18px;
  font-weight: bold;
}

.sub-map {
  margin-left: -3rem;
}

.circle-filled {
  width: 1.5rem;
  height: 1.5rem;
  background-color: lightgray;
  border: 7px solid #0086b9;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2rem;
}

.circle-empty {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #eef6f9;
  border: 5px solid lightgray;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2rem;
  z-index: 3;
}

.progress-line {
  min-width: 150px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 26px;
  margin-left: -5px;
  display: inline-block;
  z-index: 0;
}

.progress-line-filled {
  min-width: 150px;
  border-bottom: 2px solid #0086b9;
  margin-bottom: 26px;
  margin-left: -5px;
  display: inline-block;
  z-index: 0;
}
.min-map {
  margin: 1rem;
  padding-left: 2.7rem;
}
